<div class="nav-bar">
  <%= link_to 'Logout', logout_path, :class => "btn btn-sm" %>
</div>
<div class="jumbotron">
  <center>Welcome, <%= @user_email %>!</center>
  <center>Optional filters to refine your palate:</center>
  <br>
  <br>

  <center><%= form_with url: results_path, method: :get, local: true do |f| %>
    <%= f.label :radius, 'Proximity in miles' %>
    <%= f.select :radius, ['1', '5', '10', '20'], :include_blank => true %><br>

    <%= f.label :price, 'Price' %>
    <%= f.range_field :price, :min=>1, :max=>4 %><br>

    <%= f.label :open_now, 'Open Now?' %>
    <%= f.check_box :open_now, {}, true, false %><br>

    <%= f.submit "Find Me Food", :class => "btn btn-primary" %>
  <% end %>
  </center>
</div>