<div class="nav-bar">
  <% if session[:user_id] %>
    <%= link_to 'Logout', logout_path, :class => "btn btn-sm" %>
  <% else %>
    <%= link_to 'Home', root_path, :class => "btn btn-sm" %>
  <% end %>
  <%= button_to 'Shuffle', results_shuffle_path(@restaurants), method: :get, :class => "btn btn-primary"  %>
</div>

<div class="jumbotron">
  <span id="restaurant">
    <% restaurant = @restaurants.first %>
    <%= image_tag(restaurant.image_url, id: "image_#{restaurant.id}", class: "img")%>
    <h3><%=link_to restaurant.name, restaurant.url %></h3>
    <%if restaurant.is_closed == false%>
      <p>Open Now</p>
    <% else %>
      <p>Closed</p>
    <% end %>
    <p>Address: <%= restaurant.location.to_sentence %></p>
    <p>Price: <%= restaurant.price %></p>
    <p>Rating: <%= restaurant.rating %> out of 5</p>
    <p>Number of Reviews: <%= restaurant.review_count %></p>
    <p>Categories: <%= restaurant.categories.to_sentence %></p>
    <p>Offers <%= restaurant.transactions.to_sentence %></p>
    <p>Address: <%= restaurant.location.first %> <%= restaurant.location.second %></p>
    <p>Phone: <%= restaurant.display_phone %></p>
    <p>Distance: <%= restaurant.distance %> miles</p>
  </span>
</div>
